<nav class="bg-gray-100 shadow-md">
  <div class="container mx-auto px-4 py-3">
    <div class="flex items-center justify-between">
      <ul class="flex space-x-4">
        <li>
          <a
            routerLink="/products"
            class="text-gray-800 hover:text-gray-600 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200 ease-in-out hover:bg-gray-200"
          >
            Products
          </a>
        </li>
        <li>
          <a
            routerLink="/customers"
            class="text-gray-800 hover:text-gray-600 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200 ease-in-out hover:bg-gray-200"
          >
            Customers
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
